@import './base.css';


body {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

h1,
h2,
h3{
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 48px;
    line-height: 1.1em;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 18px;
}

@media screen and (min-width: 640px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 26px;
    }

    body {
        font-size: 18px;
    }
}


@media screen and (min-width: 768px) {
    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 34px;
        lint-height: 1.3em;
    }

    body {
        font-size: 22px;
    }
}




