@import './base.css';


body {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

h1,
h2,
h3{
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 48px;
    line-height: 1.1em;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 18px;
    line-height: 1.2em;
}

@media screen and (min-width: 640px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 26px;
    }

    body {
        font-size: 16px;
        line-height: 1.8em;
    }
}


@media screen and (min-width: 768px) {
    h1 {
        font-size: 54px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 36px;
    }

    body {
        font-size: 18px;
        line-height: 1.7em;
    }
}


@media screen and (min-width: 1024px) {
    h1 {
        font-size: 56px;
    }

    h2 {
        font-size: 56px;
    }

    h3 {
        font-size: 42px;
        line-height: 1.3em;
    }

    body {
        font-size: 20px;
    }
}

@media screen and (min-width: 1280px) {
    h1 {
        font-size: 56px;
    }

    h2 {
        font-size: 60px;
    }

    h3 {
        font-size: 44px;
        line-height: 1.3em;
    }

    body {
        font-size: 20px;
    }
}

