@import './base.css';


body {
    color: white;
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3{
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 48px;
    line-height: 1.1em;
}

h2 {
    font-size: 48px;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 60px;
    }
}





